body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("/fondo.jpg")
}
.title {
    position: absolute;
    top: 0%;
    padding-left: 45%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 65px;
    text-align: center;
}
img {
    position: absolute;
    width: 222px;
    height: auto;
    top: 10%;
    border-radius: 15px;
    padding-left: 2%;
}
.lema {
    position: absolute;
    padding-left: 30%;
    top: 15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
}
.title2 {
    position: absolute;
    padding-left: 30%;
    top: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
}
.form-register {
    position: absolute;
    top: 50% ;
    left: 40%;
    width: auto;
    height: auto;
    background: black;
    padding: 30px;
    margin: auto;
    border-radius: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
.form-register .controls {
    width: 350px;
    height: 35px;
}
.botons {
    background-color: #ddd;
    border: none;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
}
.botons1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
}
.botons:hover, .botons1:hover {
    opacity: 0.8;
}

